force-app/main/default/flows/Freight_Cost_Calculation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Add_Preferred_Supplier_To_Collection</name>
        <label>Add Preferred Supplier To Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varPreferredSuppliers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Preferred_Supplier</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scr_preferred_supplier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Calculated_Values</name>
        <label>Assign Calculated Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varLanePriceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lane_Price.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lane_Price.Price_Request__r.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInnerMargin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inner_Margin</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lane_Price.Lane__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_Total_Price</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Calculated_Values_ps</name>
        <label>Assign Calculated Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varLanePriceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Preferred_Supplier.Lane_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Preferred_Supplier.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInnerMargin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inner_Margin_ps</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Preferred_Supplier.Lane__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_Total_Price</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice_frigo_ambient</name>
        <choiceText>Frigo - ambient</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Frigo - ambient</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_frigo_frozen</name>
        <choiceText>Frigo - frozen</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Frigo - frozen</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_frigo_split_wal</name>
        <choiceText>Frigo - split wal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Frigo - split wal</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_no_cooling_box_trailer</name>
        <choiceText>No cooling - box trailer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No cooling - box trailer</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_no_cooling_curtain_side_ambient</name>
        <choiceText>No cooling - curtain side ambient</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No cooling - curtain side ambient</stringValue>
        </value>
    </choices>
    <choices>
        <name>choise_dual_temp</name>
        <choiceText>Dual temp</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dual temp</stringValue>
        </value>
    </choices>
    <choices>
        <name>coise_frigo_chilled</name>
        <choiceText>Frigo - chilled</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Frigo - chilled</stringValue>
        </value>
    </choices>
    <decisions>
        <name>CalculatePreferredSupplier</name>
        <label>Calculate Preferred Supplier</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Transport_Options</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>calculate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Show_Other_Suppliers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Calculated_Values_ps</targetReference>
            </connector>
            <label>calculate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Preferred_Supplier</name>
        <label>Preferred Supplier</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Transport_Options</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>show</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Show_Preferred_Supplier</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lane</targetReference>
            </connector>
            <label>show</label>
        </rules>
    </decisions>
    <decisions>
        <name>Preferred_Supplier_Exist</name>
        <label>Preferred Supplier Exist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Transport_Options</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Preferred_Supplier</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Preferred_Supplier_To_Collection</targetReference>
            </connector>
            <label>exist</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choice_DeliveryLocations</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delivery</stringValue>
            </value>
        </filters>
        <object>Location__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_LoadingLocations</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loading</stringValue>
            </value>
        </filters>
        <object>Location__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>collection_seasons</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>f_Today</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>f_Today</elementReference>
            </value>
        </filters>
        <object>Season__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>f_salesPrice</name>
        <dataType>Number</dataType>
        <expression>{!Get_Lane_Price.Freight_Price__c} + ( {!Get_Lane_Price.Freight_Price__c} * ( {!Inner_Margin} / 100  ) )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>f_Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Cost Calculation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Freight Cost Calculation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opportunity_Product</name>
        <label>Create Opportunity Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Carrier__c</field>
            <value>
                <elementReference>Get_Lane_Price.Price_Request__r.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inner_Margin_Value__c</field>
            <value>
                <elementReference>var_calculatedMargin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>List_Price__c</field>
            <value>
                <elementReference>var_ListPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Get_Pricebook_Entry.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Get_Pricebook_Entry.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceDate</field>
            <value>
                <elementReference>f_Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>var_SalesPrice</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Lane</name>
        <label>Get Lane</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Preferred_Supplier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loading_Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loading_Locations.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <filters>
            <field>Destination_Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDeliveryLocationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lane_Price</name>
        <label>Get Lane Price</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Calculated_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSelectedLineId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lane_Price__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Locations</name>
        <label>Get Locations</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_Lane</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Location__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Locations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Preferred_Supplier</name>
        <label>Get Preferred Supplier</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Preferred_Supplier_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lane__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lane.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Trailer_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Trailer_Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>Season__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Season</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Preferred_Supplier__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pricebook_Entry</name>
        <label>Get Pricebook Entry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Opportunity_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Standard_Pricebook.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProductId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_Pricebook</name>
        <label>Get Standard Pricebook</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pricebook_Entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Calculate_Total_Price</name>
        <label>Calculate Total Price</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Standard_Pricebook</targetReference>
        </connector>
        <fields>
            <name>lanePriceCalculator</name>
            <extensionName>c:lanePriceCalculator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>varAccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>innerMargin</name>
                <value>
                    <elementReference>varInnerMargin</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lanePriceId</name>
                <value>
                    <elementReference>varLanePriceId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_ListPrice</assignToReference>
                <name>AnnualListPrice</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>var_SalesPrice</assignToReference>
                <name>AnnuallSalesPrice</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>var_calculatedMargin</assignToReference>
                <name>calculatedMargin</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Choose_Lane</name>
        <label>Choose Lane</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Preferred_Supplier</targetReference>
        </connector>
        <fields>
            <name>header_locations</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Please select loading and destination locations&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Season</name>
            <choiceReferences>collection_seasons</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Season</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Loading_Locations</name>
            <choiceReferences>choice_LoadingLocations</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Loading Locations</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>lwc_location_lookup</name>
            <extensionName>c:locationLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>typeValue</name>
                <value>
                    <stringValue>Delivery</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>picklistLabel</name>
                <value>
                    <stringValue>Delivery Location</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varDeliveryLocationId</assignToReference>
                <name>selectedLocationId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Trailer_Type</name>
            <choiceReferences>choice_frigo_ambient</choiceReferences>
            <choiceReferences>coise_frigo_chilled</choiceReferences>
            <choiceReferences>choice_frigo_frozen</choiceReferences>
            <choiceReferences>choice_frigo_split_wal</choiceReferences>
            <choiceReferences>choise_dual_temp</choiceReferences>
            <choiceReferences>choice_no_cooling_box_trailer</choiceReferences>
            <choiceReferences>choice_no_cooling_curtain_side_ambient</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Trailer Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Show_Preferred_Supplier</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Show Preferred Supplier</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_preferred_supplier</name>
        <label>Preferred Supplier</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CalculatePreferredSupplier</targetReference>
        </connector>
        <fields>
            <name>hd_ps</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Preferred Supplier&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>tb_preferred_suppliers</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Preferred_Supplier__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>varPreferredSuppliers</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Lane_Name__c&quot;,&quot;guid&quot;:&quot;column-dc9e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Lane&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Lane Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Account_Name__c&quot;,&quot;guid&quot;:&quot;column-8990&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Carrier&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Trailer_Type__c&quot;,&quot;guid&quot;:&quot;column-39f7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Trailer Type&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Type Of Trailer&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Lane_Freight_Price__c&quot;,&quot;guid&quot;:&quot;column-62db&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Price €&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Lane Freight Price&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Show_Other_Suppliers</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Show Other Suppliers</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Inner_Margin_ps</name>
            <dataType>Number</dataType>
            <fieldText>Inner Margin %</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Other_Suppliers</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Transport_Options</name>
        <label>Transport Options</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Lane_Price</targetReference>
        </connector>
        <fields>
            <name>header_tabs</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Available Carriers&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dt_lane_tabs</name>
            <extensionName>c:locationLinesTabs</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>destinationLocation</name>
                <value>
                    <elementReference>varDeliveryLocationId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>loadingLocation</name>
                <value>
                    <elementReference>Loading_Locations.selectedChoiceValues</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedLineId</name>
                <value>
                    <elementReference>varSelectedLineId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deliveryDate</name>
                <value>
                    <elementReference>f_Today</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>trailerType</name>
                <value>
                    <elementReference>Trailer_Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>seasonId</name>
                <value>
                    <elementReference>Select_Season</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varSelectedLineId</assignToReference>
                <name>selectedLineId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Inner_Margin</name>
            <dataType>Number</dataType>
            <fieldText>Inner Margin %</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_calculatedMargin</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_ListPrice</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_SalesPrice</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varDeliveryDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDeliveryDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDeliveryLocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varExistingPRs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Price_Request__c</objectType>
    </variables>
    <variables>
        <name>varInnerMargin</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varLanePriceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varNewPriceRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Price_Request__c</objectType>
    </variables>
    <variables>
        <name>varPreferredSuppliers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Preferred_Supplier__c</objectType>
    </variables>
    <variables>
        <name>varProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varSalesPrice</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>2068.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varSelectedLineId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varWorkingPriceRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Price_Request__c</objectType>
    </variables>
</Flow>
