force-app/main/default/flows/New_Lane.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Creates_new_Location_and_the_corresponding_Lanes</name>
        <label>Creates new Location and the corresponding Lanes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>NLAddNewLaneAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Finish_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>locationISOCode</name>
            <value>
                <elementReference>Location_ISO_Country_Code</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>locationName</name>
            <value>
                <elementReference>LocationName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>locationPostalCode</name>
            <value>
                <elementReference>Location_Postal_Code</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>locationType</name>
            <value>
                <elementReference>Location_Type</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NLAddNewLaneAction</nameSegment>
        <outputParameters>
            <assignToReference>outputVarRecordId</assignToReference>
            <name>locationId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <dynamicChoiceSets>
        <name>picklist_location_type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Location__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>New Lane {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Lane</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Create_Location</name>
        <label>Create Location</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Creates_new_Location_and_the_corresponding_Lanes</targetReference>
        </connector>
        <fields>
            <name>Create_Location_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Location_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LocationName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue></stringValue>
                    </defaultValue>
                    <fieldText>Location Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Location_Type</name>
                    <choiceReferences>picklist_location_type</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Location Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Create_Location_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Location_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Location_ISO_Country_Code</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue></stringValue>
                    </defaultValue>
                    <fieldText>Location ISO Country Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p style=&quot;text-align: center;&quot;&gt;Please enter a valid 2-letter country ISO code (e.g., &apos;NL&apos;, &apos;DE&apos;)&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Location_ISO_Country_Code}) = 2</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Location_Postal_Code</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue></stringValue>
                    </defaultValue>
                    <fieldText>Location Postal Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error_text</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Finish_Screen</name>
        <label>Finish Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>finish_text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;New {!Location_Type} Location {!LocationName} has been successfully created&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Location</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>outputVarRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
