force-app/main/default/flows/PriceRequestAddProducts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AddLanesToPriceRequest</name>
        <label>Add Lanes To Price Request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>TPQAddLanesToPriceRequestAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>EndScreen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>filteredLaneIds</name>
            <value>
                <elementReference>varAdditionalLaneIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mandatoryLaneIds</name>
            <value>
                <elementReference>varMandatoryLaneIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>priceRequestId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>trailerTypesString</name>
            <value>
                <elementReference>chkgrpTrailerTypes</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TPQAddLanesToPriceRequestAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>GetAccountTrailerTypes</name>
        <label>Get Account Trailer Types</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>GetAccountTrailerTypes</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>TrailerTypes</targetReference>
        </connector>
        <faultConnector>
            <targetReference>scrAccountSettingsError</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>GetCarrier.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetAccountTrailerTypes</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>GetDeliveryCountries</name>
        <label>Get Delivery Countries</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>GetAccountDeliveryCountries</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>LocationChoices</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>scrAccountSettingsError</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>GetCarrier.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetAccountDeliveryCountries</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>GetLanesToAddInPriceRequest</name>
        <label>Get Lanes To Add In Price Request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>TPQGetLanesToAddInPriceRequest</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SelectLanes</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>deliveryCountryCodes</name>
            <value>
                <elementReference>varDeliveryCodes</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loadingCountryCodes</name>
            <value>
                <elementReference>varLoadingCodes</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>priceRequestId</name>
            <value>
                <elementReference>GetPriceRequest.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TPQGetLanesToAddInPriceRequest</nameSegment>
        <outputParameters>
            <assignToReference>varMatchingLanes</assignToReference>
            <name>matchingLanes</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>AssignAllAdditionalLanes</name>
        <label>Assign All Additional Lanes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSelectedAdditionalLanes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varMatchingLanes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverAdditionalLanes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAllMandatoryLanes</name>
        <label>Assign All Mandatory Lanes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSelectedMandatoryLanes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedAdditionalLanes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverMandatoryLanes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCountryCodes</name>
        <label>Assign Country Codes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varLoadingCodes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoadingCountries</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDeliveryCodes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DeliveryCountries</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetLanesToAddInPriceRequest</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CollectAdditionalProductIds</name>
        <label>Collect Additional Product Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varAdditionalLaneIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOverAdditionalLanes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverAdditionalLanes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CollectMandatoryProductIds</name>
        <label>Collect Mandatory Product Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varMandatoryLaneIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOverMandatoryLanes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverMandatoryLanes</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceDE</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Germany&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DE</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceES</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Spain&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ES</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceIT</name>
        <choiceText>Italy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IT</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceNL</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;The Netherlands&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NL</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceUK</name>
        <choiceText>United Kingdom</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GB</stringValue>
        </value>
    </choices>
    <decisions>
        <name>AllAdditionalLanesSelected</name>
        <label>All Additional Lanes Selected?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>LoopOverAdditionalLanes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outcomeSelectAllAdditionalLanesWasSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>chkSelectAllLanes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignAllAdditionalLanes</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>AllMandatoryLanesSelected</name>
        <label>All Mandatory Lanes Selected?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>LoopOverMandatoryLanes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outcomeSelectAllMandatoryLanesWasSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>chkMarkAllLanesMandatory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignAllMandatoryLanes</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ccsDeliveryCountries</name>
        <collectionReference>GetDeliveryCountries.keyValuePairs</collectionReference>
        <dataType>String</dataType>
        <displayField>MasterLabel</displayField>
        <object>KeyValuePair__mdt</object>
        <valueField>DeveloperName</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ccsTrailerTypes</name>
        <collectionReference>GetAccountTrailerTypes.keyValuePairs</collectionReference>
        <dataType>String</dataType>
        <displayField>MasterLabel</displayField>
        <object>KeyValuePair__mdt</object>
        <valueField>DeveloperName</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Price Request - Add Products {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Price Request - Add Products</label>
    <loops>
        <name>LoopOverAdditionalLanes</name>
        <label>Loop Over Additional Lanes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>varSelectedAdditionalLanes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CollectAdditionalProductIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>MandatoryLanes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOverMandatoryLanes</name>
        <label>Loop Over Mandatory Lanes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>varSelectedMandatoryLanes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CollectMandatoryProductIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetAccountTrailerTypes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetCarrier</name>
        <label>Get Carrier</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetDeliveryCountries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetPriceRequest.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPriceRequest</name>
        <label>Get Price Request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCarrier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Price_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>EndScreen</name>
        <label>End Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>headerEndScreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Selected lanes successfully added to price request&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>LocationChoices</name>
        <label>Location Choices</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignCountryCodes</targetReference>
        </connector>
        <fields>
            <name>txtLocationChoices</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Select Loading and Delivery Countries&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LocationChoices_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>LocationChoices_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LoadingCountries</name>
                    <choiceReferences>choiceNL</choiceReferences>
                    <choiceReferences>choiceDE</choiceReferences>
                    <choiceReferences>choiceES</choiceReferences>
                    <choiceReferences>choiceIT</choiceReferences>
                    <choiceReferences>choiceUK</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Loading Countries</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>LocationChoices_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DeliveryCountries</name>
                    <choiceReferences>ccsDeliveryCountries</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Delivery Countries</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>LocationChoices_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>LocationChoices_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MandatoryLanes</name>
        <label>Mandatory Lanes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AllMandatoryLanesSelected</targetReference>
        </connector>
        <fields>
            <name>chkMarkAllLanesMandatory</name>
            <dataType>Boolean</dataType>
            <fieldText>Mark All Lanes Mandatory</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>tbMandatoryLanes</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Product2</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Mandatory Lanes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>varSelectedAdditionalLanes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value/>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-6fee&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Product Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Loading_Country_Code__c&quot;,&quot;guid&quot;:&quot;column-1a1d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Loading Code&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Loading Country Code&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Destination_Country_Code__c&quot;,&quot;guid&quot;:&quot;column-7d3c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Delivery Code&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Destination Country Code&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnReferences</name>
                <value/>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varSelectedMandatoryLanes</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>chkMarkAllLanesMandatory</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>tbMandatoryLanesReadonly</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Product2</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>All Lanes Mandatory</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>varSelectedAdditionalLanes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value/>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-0609&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Product Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Loading_Country_Code__c&quot;,&quot;guid&quot;:&quot;column-fc36&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Loading Code&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Loading Country Code&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Destination_Country_Code__c&quot;,&quot;guid&quot;:&quot;column-4779&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Delivery Code&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Destination Country Code&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnReferences</name>
                <value/>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>chkMarkAllLanesMandatory</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrAccountSettingsError</name>
        <label>Account Settings Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtTrailerTypeError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Something went wrong.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Make sure that the selected carrier profile supports at least 1 destination country and trailer type&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SelectLanes</name>
        <label>Select Lanes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AllAdditionalLanesSelected</targetReference>
        </connector>
        <fields>
            <name>chkSelectAllLanes</name>
            <dataType>Boolean</dataType>
            <fieldText>Select All Lanes</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>tbFilteredLanes</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Product2</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Lanes You Want To Add To Price Request</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>varMatchingLanes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value/>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-3ec4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Product Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Loading_Country_Code__c&quot;,&quot;guid&quot;:&quot;column-e5c2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Loading Code&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Loading Country Code&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Destination_Country_Code__c&quot;,&quot;guid&quot;:&quot;column-cc90&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Delivery Code&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Destination Country Code&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnReferences</name>
                <value/>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varSelectedAdditionalLanes</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>chkSelectAllLanes</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>tbFilteredLanesReadonly</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Product2</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>All Lanes Selected</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>varMatchingLanes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value/>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-22f0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Product Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Loading_Country_Code__c&quot;,&quot;guid&quot;:&quot;column-6602&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Loading Code&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Loading Country Code&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Destination_Country_Code__c&quot;,&quot;guid&quot;:&quot;column-903c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Delivery Code&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Destination Country Code&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnReferences</name>
                <value/>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>chkSelectAllLanes</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TrailerTypes</name>
        <label>Trailer Types</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AddLanesToPriceRequest</targetReference>
        </connector>
        <fields>
            <name>chkgrpTrailerTypes</name>
            <choiceReferences>ccsTrailerTypes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Trailer Types</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Add Lanes</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetPriceRequest</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAdditionalLaneIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDeliveryCodes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varExistingLaneIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFilteredLaneIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLoadingCodes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMandatoryLaneIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMatchingLanes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>varSelectedAdditionalLanes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>varSelectedMandatoryLanes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
</Flow>
