force-app/main/default/flows/PriceRequestCreate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <dynamicChoiceSets>
        <name>rcsSeasons</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>getTodayAsDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>getTodayAsDate</elementReference>
            </value>
        </filters>
        <object>Season__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>getPortalURL</name>
        <dataType>String</dataType>
        <expression>{!varPortalURL} &amp; &quot;/?id=&quot; &amp; {!outputVarRecordId}</expression>
    </formulas>
    <formulas>
        <name>getPriceRequestName</name>
        <dataType>String</dataType>
        <expression>{!plSeason} &amp; &quot; - &quot; &amp; {!varSelectedCarrier.Name}</expression>
    </formulas>
    <formulas>
        <name>getTodayAsDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Price Request - Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Price Request - Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreatePriceRequest</name>
        <label>Create Price Request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>outputVarRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>UpdatePortalURL</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varSelectedCarrier.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Additional_stops__c</field>
            <value>
                <elementReference>chkAdditionalStops</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dangerous_Goods__c</field>
            <value>
                <elementReference>chkDangerousGoods</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Direct_Ferry__c</field>
            <value>
                <elementReference>chkDirectFerry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETS__c</field>
            <value>
                <elementReference>chkETS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fuel_surcharge_percentage__c</field>
            <value>
                <elementReference>chkFuelSurchargePercentage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Harbour_dues__c</field>
            <value>
                <elementReference>chkHarbourDues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>getPriceRequestName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overnight_charges__c</field>
            <value>
                <elementReference>chkOvernightCharges</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pallet_exchange__c</field>
            <value>
                <elementReference>chkPalletExchange</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pallet_jack__c</field>
            <value>
                <elementReference>chkPalletJack</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plug_in__c</field>
            <value>
                <elementReference>chkPlugIn</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Date__c</field>
            <value>
                <elementReference>getTodayAsDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Season__c</field>
            <value>
                <elementReference>plSeason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Seasonal_surcharge__c</field>
            <value>
                <elementReference>chkSeasonalSurcharge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Show_Additional_Information__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tail_lift__c</field>
            <value>
                <elementReference>chkTailLift</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Two_drivers__c</field>
            <value>
                <elementReference>chkTwoDrivers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Waiting_hours__c</field>
            <value>
                <elementReference>chkWaitingHours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weekend_charges__c</field>
            <value>
                <elementReference>chkWeekendCharges</elementReference>
            </value>
        </inputAssignments>
        <object>Price_Request__c</object>
    </recordCreates>
    <recordLookups>
        <name>GetAllCarriers</name>
        <label>Get All Carriers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SelectSeasonAndCarrier</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPortalURLFromMetadata</name>
        <label>Get Portal URL From Metadata</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreatePriceRequest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Portal_URL__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Portal_Settings__mdt</object>
        <outputAssignments>
            <assignToReference>varPortalURL</assignToReference>
            <field>Portal_URL__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdatePortalURL</name>
        <label>Update Portal URL</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>outputVarRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Portal_URL__c</field>
            <value>
                <elementReference>getPortalURL</elementReference>
            </value>
        </inputAssignments>
        <object>Price_Request__c</object>
    </recordUpdates>
    <screens>
        <name>RequestAdditionalPrices</name>
        <label>Request Additional Prices</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetPortalURLFromMetadata</targetReference>
        </connector>
        <fields>
            <name>txtAdditionalPrices</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Select Additional Prices You Want To Request&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>chkSelectAll</name>
            <dataType>Boolean</dataType>
            <fieldText>Select All</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RequestAdditionalPrices_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>RequestAdditionalPrices_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>chkFuelSurchargePercentage</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>chkSelectAll</elementReference>
                    </defaultValue>
                    <fieldText>Fuel surcharge percentage</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <elementReference>chkSelectAll</elementReference>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>chkDangerousGoods</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>chkSelectAll</elementReference>
                    </defaultValue>
                    <fieldText>Dangerous Goods</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <elementReference>chkSelectAll</elementReference>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>chkDirectFerry</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>chkSelectAll</elementReference>
                    </defaultValue>
                    <fieldText>Direct Ferry</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <elementReference>chkSelectAll</elementReference>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>chkETS</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>chkSelectAll</elementReference>
                    </defaultValue>
                    <fieldText>ETS (type of harbour tax)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <elementReference>chkSelectAll</elementReference>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>chkHarbourDues</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>chkSelectAll</elementReference>
                    </defaultValue>
                    <fieldText>Harbour dues</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <elementReference>chkSelectAll</elementReference>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>chkOvernightCharges</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>chkSelectAll</elementReference>
                    </defaultValue>
                    <fieldText>Overnight charges</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <elementReference>chkSelectAll</elementReference>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>chkPalletExchange</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>chkSelectAll</elementReference>
                    </defaultValue>
                    <fieldText>Pallet exchange</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <elementReference>chkSelectAll</elementReference>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>chkPalletJack</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>chkSelectAll</elementReference>
                    </defaultValue>
                    <fieldText>Pallet jack</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <elementReference>chkSelectAll</elementReference>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>RequestAdditionalPrices_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>chkAdditionalStops</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>chkSelectAll</elementReference>
                    </defaultValue>
                    <fieldText>Price Per Stop</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <elementReference>chkSelectAll</elementReference>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>chkPlugIn</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>chkSelectAll</elementReference>
                    </defaultValue>
                    <fieldText>Plug-in</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <elementReference>chkSelectAll</elementReference>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>chkSeasonalSurcharge</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>chkSelectAll</elementReference>
                    </defaultValue>
                    <fieldText>Seasonal surcharge</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <elementReference>chkSelectAll</elementReference>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>chkTailLift</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>chkSelectAll</elementReference>
                    </defaultValue>
                    <fieldText>Tail lift</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <elementReference>chkSelectAll</elementReference>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>chkTwoDrivers</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>chkSelectAll</elementReference>
                    </defaultValue>
                    <fieldText>Two drivers</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <elementReference>chkSelectAll</elementReference>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>chkWaitingHours</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>chkSelectAll</elementReference>
                    </defaultValue>
                    <fieldText>Waiting hours</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <elementReference>chkSelectAll</elementReference>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>chkWeekendCharges</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>chkSelectAll</elementReference>
                    </defaultValue>
                    <fieldText>Weekend charges</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <elementReference>chkSelectAll</elementReference>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Create Price Request</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SelectSeasonAndCarrier</name>
        <label>Select Season and Carrier</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RequestAdditionalPrices</targetReference>
        </connector>
        <fields>
            <name>txtSelectCarrier</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: sans-serif; background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Select Season And Carrier&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectSeasonAndCarrier_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SelectSeasonAndCarrier_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>plSeason</name>
                    <choiceReferences>rcsSeasons</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select Season</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SelectSeasonAndCarrier_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>tbSelectCarrier</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Carrier</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetAllCarriers</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value/>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-15b8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Carrier Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Type&quot;,&quot;guid&quot;:&quot;column-f108&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Carrier Type&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Account Type&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnReferences</name>
                <value/>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varSelectedCarrier</assignToReference>
                <name>firstSelectedRow</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetAllCarriers</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>outputVarRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPortalURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varSelectedCarrier</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
