force-app/main/default/flows/PriceRequestClone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ClonePriceRequest</name>
        <label>Clone Price Request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ClonePriceRequestAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GetPortalAccessCode</targetReference>
        </connector>
        <faultConnector>
            <targetReference>scrClonePriceRequestErrorScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>matchingLanePrices</name>
            <value>
                <elementReference>FilterPricesForCloning.lanePriceIdsForCloning</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>originalPriceRequestId</name>
            <value>
                <elementReference>GetPriceRequest.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetAccountId</name>
            <value>
                <elementReference>varSelectedCarrier.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ClonePriceRequestAction</nameSegment>
        <outputParameters>
            <assignToReference>outputVarRecordId</assignToReference>
            <name>clonedPriceRequestId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varCloneErrorMessage</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>FilterPricesForCloning</name>
        <label>Filter Prices For Cloning</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FilterPricesToClone</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>scrComparision</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>originalAccountId</name>
            <value>
                <elementReference>GetPriceRequest.Account__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>originalPriceRequestId</name>
            <value>
                <elementReference>GetPriceRequest.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetAccountId</name>
            <value>
                <elementReference>varSelectedCarrier.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FilterPricesToClone</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>NavigateToClonedPriceRequest</name>
        <label>Navigate To Cloned Price Request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:NavigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>outputVarRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:NavigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <decisions>
        <name>PricesToCloneIsEmpty</name>
        <label>Prices To Clone Is Empty?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ClonePriceRequest</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FilterPricesForCloning.lanePriceIdsForCloning</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FilterPricesForCloning.lanePriceIdsForCloning</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrNoPricesToClone</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fPortalUrl</name>
        <dataType>String</dataType>
        <expression>{!varPortalUrl} &amp; &quot;/?id=&quot; &amp; {!outputVarRecordId}</expression>
    </formulas>
    <interviewLabel>Price Request - Clone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Price Request - Clone</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetAccounts</name>
        <label>Get Accounts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Carrier</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPortalAccessCode</name>
        <label>Get Portal Access Code</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdatePriceRequest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Portal_Access</stringValue>
            </value>
        </filters>
        <object>Portal_Settings__mdt</object>
        <outputAssignments>
            <assignToReference>varPortalUrl</assignToReference>
            <field>Portal_URL__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetPriceRequest</name>
        <label>Get Price Request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAccounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Price_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdatePriceRequest</name>
        <label>Update Price Request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>EndScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>outputVarRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Portal_URL__c</field>
            <value>
                <elementReference>fPortalUrl</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Price_Request__c</object>
    </recordUpdates>
    <screens>
        <name>EndScreen</name>
        <label>End Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>NavigateToClonedPriceRequest</targetReference>
        </connector>
        <fields>
            <name>txtEndScreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Your price request has been successfully submitted﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrClonePriceRequestErrorScreen</name>
        <label>Clone Price Request Error Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtCloneErrorMessage</name>
            <fieldText>&lt;p&gt;Something went wrong: {!varCloneErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrComparision</name>
        <label>Comparison</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>PricesToCloneIsEmpty</targetReference>
        </connector>
        <fields>
            <name>sctCompareCarriers</name>
            <fieldText>Compare Carriers</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>sctCompareCarriers_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtOriginalCarrier</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetPriceRequest.Account__r.Name</elementReference>
                    </defaultValue>
                    <fieldText>Original Carrier</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>sctCompareCarriers_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtTargetCarrier</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varSelectedCarrier.Name</elementReference>
                    </defaultValue>
                    <fieldText>Target Carrier</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>secTrailerTypes</name>
            <fieldText>Trailer Types</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>secTrailerTypes_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtInOriginalPriceRequestTT</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>FilterPricesForCloning.originalTrailerTypes</elementReference>
                    </defaultValue>
                    <fieldText>In Original Price Request</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>secTrailerTypes_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtSupportedByTargetCarrierTT</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varSelectedCarrier.Trailer_Types__c</elementReference>
                    </defaultValue>
                    <fieldText>Supported By Target Carrier</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>secDestinationCountryCodes</name>
            <fieldText>Destination Country Codes</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>secDestinationCountryCodes_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtInOriginalPriceRequestCC</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>FilterPricesForCloning.originalDestinationCodes</elementReference>
                    </defaultValue>
                    <fieldText>In Original Price Request</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>secDestinationCountryCodes_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtSupportedByTargetCarrierCC</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varSelectedCarrier.Destination_Country_Codes__c</elementReference>
                    </defaultValue>
                    <fieldText>Supported By Target Carrier</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>secLanesCount</name>
            <fieldText>Lanes Count</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>secLanesCount_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtInOriginalPriceRequestLC</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>FilterPricesForCloning.originalPricesCount</elementReference>
                    </defaultValue>
                    <fieldText>In Original Price Request</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>secLanesCount_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtInClonedPriceRequest</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>FilterPricesForCloning.targetPricesCount</elementReference>
                    </defaultValue>
                    <fieldText>In Cloned Price Request</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Confirm and Clone Price Request</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrNoPricesToClone</name>
        <label>No Prices To Clone</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtNoPrices</name>
            <fieldText>&lt;p&gt;There are no matching lanes that can be cloned for a new price request. Please check the target carrier settings.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Carrier</name>
        <label>Select Carrier</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FilterPricesForCloning</targetReference>
        </connector>
        <fields>
            <name>headerOriginalPriceRequest</name>
            <fieldText>&lt;p&gt;You are copying the following price request: &lt;strong&gt;{!GetPriceRequest.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dt_carriers</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Carrier</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetAccounts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value/>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-db6c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnReferences</name>
                <value/>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varSelectedCarrier</assignToReference>
                <name>firstSelectedRow</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetPriceRequest</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>outputVarRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCloneErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varPortalUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varSelectedCarrier</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
