force-app/main/default/flows/Transportation_Price_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>checkDuplicatePriceRequests</name>
        <label>Check Duplicate Price Requests</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>TPQcheckDuplicateRequest</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Unique_Request</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>varSelectedCarrier.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mandatoryProductIds</name>
            <value>
                <elementReference>varMandatoryProductIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>seasonId</name>
            <value>
                <elementReference>Select_Season</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>trailerTypesString</name>
            <value>
                <elementReference>chkgrpTrailerTypes</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TPQcheckDuplicateRequest</nameSegment>
        <outputParameters>
            <assignToReference>varUniqueRequest</assignToReference>
            <name>uniqueRequest</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>getAccountTrailerTypes</name>
        <label>Get Account Trailer Types</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>GetAccountTrailerTypes</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Trailer_Types</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>varSelectedCarrier.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetAccountTrailerTypes</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>getDeliveryCountries</name>
        <label>Get Delivery Countries</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>GetAccountDeliveryCountries</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Location_Choices</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>varSelectedCarrier.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetAccountDeliveryCountries</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>getLanesBetweenLoadingAndDeliveryCountries</name>
        <label>Get lanes between loading and delivery countries</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>TPQGetProductsAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Products</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>varSelectedCarrier.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>deliveryCountryCodes</name>
            <value>
                <elementReference>varDeliveryCodes</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loadingCountryCodes</name>
            <value>
                <elementReference>varLoadingCodes</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TPQGetProductsAction</nameSegment>
        <outputParameters>
            <assignToReference>varFilteredLanes</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_Portal_Code_via_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Save_recipients_Emails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>procurement@europeancruiselogistics.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Submit Freight Prices for New Request</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>{!tt_emailBody}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Portal_Code_via_Email</name>
        <label>Send Portal Code via Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>End_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Save_recipients_Emails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>procurement@europeancruiselogistics.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Customer Portal Access Code</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>tt_emailBody_portalCode</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>TPQ_New_Price_Request_Action</name>
        <label>TPQ New Price Request Action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>TPQNewPriceRequestAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Save_recipients_Emails</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>varSelectedCarrier.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>deliveryCountryCodes</name>
            <value>
                <elementReference>varDeliveryCodes</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loadingCountryCodes</name>
            <value>
                <elementReference>varLoadingCodes</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mandatoryProductIds</name>
            <value>
                <elementReference>varMandatoryProductIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>seasonId</name>
            <value>
                <elementReference>Select_Season</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>trailerTypesString</name>
            <value>
                <elementReference>chkgrpTrailerTypes</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TPQNewPriceRequestAction</nameSegment>
        <outputParameters>
            <assignToReference>varCreatedPriceRequestId</assignToReference>
            <name>priceRequestId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Add_recepient</name>
        <label>Add recepient</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSelectedRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varNewContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screenConfirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addAllLanes</name>
        <label>Add All Lanes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSelectedMandatoryLanes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFilteredLanes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getAccountTrailerTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addSelectedLanes</name>
        <label>Add Selected Lanes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSelectedMandatoryLanes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>dt_mandatory_products_readonly.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getAccountTrailerTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Country_Codes</name>
        <label>Assign Country Codes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varLoadingCodes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loading_Countries</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDeliveryCodes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>chkgrDeliveryCountries</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getLanesBetweenLoadingAndDeliveryCountries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Mandatory_Products</name>
        <label>Collect Mandatory Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varMandatoryProductIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Mandatory_Products.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mandatory_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Display_additional_carrier_information</name>
        <label>Display additional carrier information</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>formula_Request_Additional_Price_Information_From_Carier</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_additional_lane_price_information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Display_additional_lane_price_information</name>
        <label>Display additional lane price information</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>formula_Request_Additional_Price_Information_Per_Lane</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recipient_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Contact_Info</name>
        <label>New Contact Info</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varNewContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewContact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewContact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedCarrier.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_recipients_emails_in_order_to_save_them_in_the_PR_record</name>
        <label>Save recipients&apos; emails in order to save them in the PR record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Recipients_Email_like_String</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_emails.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Recipients_Email_like_String</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_emails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Output</name>
        <label>Set Output</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outputVarRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCreatedPriceRequestId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_code_from_custom_metadata_types</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice_de_location</name>
        <choiceText>Germany</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DE</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_es_location</name>
        <choiceText>Spain</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ES</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_gb_location</name>
        <choiceText>Great Britain</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GB</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_it_location</name>
        <choiceText>Italy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IT</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_nl_location</name>
        <choiceText>The Netherlands</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NL</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceManuallySelectLanes</name>
        <choiceText>Manually select lanes</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>choiceSelectAllLanes</name>
        <choiceText>Select all lanes</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Check_Products</name>
        <label>Check Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Select_Mandatory_Lanes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>empty_list</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varFilteredLanes</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFilteredLanes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Products_Screen</targetReference>
            </connector>
            <label>empty list</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkSelectAllLanes</name>
        <label>SelectAllLanes selected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>addSelectedLanes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outcomeSelectAllLanesWasSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>chkSelectAllLanes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addAllLanes</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Contact</name>
        <label>New Contact?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>screenConfirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>add</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_New_Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Contact_Info</targetReference>
            </connector>
            <label>add</label>
        </rules>
    </decisions>
    <decisions>
        <name>Request_Additional_Carrier_Information</name>
        <label>Request Additional Carrier Information</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Display_additional_lane_price_information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_false</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>chkDangerousGoods</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>chkDirectFerry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>chkETS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>chkFuelSurchargePercentage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>chkHarbourDues</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>chkOvernightCharges</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>chkPalletExchange</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>chkPalletJack</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>chkPlugIn</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>chkAdditionalStops</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>chkSeasonalSurcharge</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>chkSelectAllFields</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>chkTailLift</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>chkTwoDrivers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>chkWaitingHours</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>chkWeekendCharges</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_additional_carrier_information</targetReference>
            </connector>
            <label>request</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unique_Request</name>
        <label>Unique Request?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Duplicate_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>duplicate</defaultConnectorLabel>
        <rules>
            <name>unique</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUniqueRequest</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenRequestAdditionalPrices</targetReference>
            </connector>
            <label>unique</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ccsDeliveryCountries</name>
        <collectionReference>getDeliveryCountries.keyValuePairs</collectionReference>
        <dataType>String</dataType>
        <displayField>MasterLabel</displayField>
        <object>KeyValuePair__mdt</object>
        <valueField>DeveloperName</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ccsTrailerTypes</name>
        <collectionReference>getAccountTrailerTypes.keyValuePairs</collectionReference>
        <dataType>String</dataType>
        <displayField>MasterLabel</displayField>
        <object>KeyValuePair__mdt</object>
        <valueField>DeveloperName</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choices_accountTrailerTypes</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Trailer_Types__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklist_accountTrailerTypes</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Trailer_Types__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcsSeasons</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>f_today</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>f_today</elementReference>
            </value>
        </filters>
        <object>Season__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>f_PortalUrl</name>
        <dataType>String</dataType>
        <expression>{!varPortalURL}  &amp; &quot;/?id=&quot; &amp; {!varCreatedPriceRequestId}</expression>
    </formulas>
    <formulas>
        <name>f_requiredRecepients</name>
        <dataType>Number</dataType>
        <expression>IF({!Add_New_Contact}, 0, 1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>f_today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Price Request Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transportation Price Quote</label>
    <loops>
        <name>Loop_through_emails</name>
        <label>Loop through emails</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>varSelectedRecipients</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Save_recipients_emails_in_order_to_save_them_in_the_PR_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Output</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Mandatory_Products</name>
        <label>Mandatory Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>varSelectedMandatoryLanes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_Mandatory_Products</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>checkDuplicatePriceRequests</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_recepient</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Contact_Error</targetReference>
        </faultConnector>
        <inputReference>varNewContact</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Carrier_s_Contacts</name>
        <label>Get All Carrier&apos;s Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getDeliveryCountries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSelectedCarrier.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Carriers</name>
        <label>Get Carriers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screenSeasonAndCarrier</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_code_from_custom_metadata_types</name>
        <label>Get code from custom metadata types</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Price_Request_Configuration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Portal_Access</stringValue>
            </value>
        </filters>
        <object>Portal_Settings__mdt</object>
        <outputAssignments>
            <assignToReference>var_portalCodeFromMatadataTypes</assignToReference>
            <field>Portal_Access_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPortalURL</assignToReference>
            <field>Portal_URL__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Price_Request_Configuration</name>
        <label>Update Price Request Configuration</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCreatedPriceRequestId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Additional_stops__c</field>
            <value>
                <elementReference>chkAdditionalStops</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contacts_emails__c</field>
            <value>
                <elementReference>var_Recipients_Email_like_String</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dangerous_Goods__c</field>
            <value>
                <elementReference>chkDangerousGoods</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Direct_Ferry__c</field>
            <value>
                <elementReference>chkDirectFerry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETS__c</field>
            <value>
                <elementReference>chkETS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fuel_surcharge_percentage__c</field>
            <value>
                <elementReference>chkFuelSurchargePercentage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Harbour_dues__c</field>
            <value>
                <elementReference>chkHarbourDues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overnight_charges__c</field>
            <value>
                <elementReference>chkOvernightCharges</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pallet_exchange__c</field>
            <value>
                <elementReference>chkPalletExchange</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pallet_jack__c</field>
            <value>
                <elementReference>chkPalletJack</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plug_in__c</field>
            <value>
                <elementReference>chkPlugIn</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Portal_URL__c</field>
            <value>
                <elementReference>f_PortalUrl</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Seasonal_surcharge__c</field>
            <value>
                <elementReference>chkSeasonalSurcharge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Show_Additional_Information__c</field>
            <value>
                <elementReference>formula_Request_Additional_Price_Information_From_Carier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Show_Additional_Lane_Price_Information__c</field>
            <value>
                <elementReference>formula_Request_Additional_Price_Information_Per_Lane</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Answer pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tail_lift__c</field>
            <value>
                <elementReference>chkTailLift</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Two_drivers__c</field>
            <value>
                <elementReference>chkTwoDrivers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Waiting_hours__c</field>
            <value>
                <elementReference>chkWaitingHours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weekend_charges__c</field>
            <value>
                <elementReference>chkWeekendCharges</elementReference>
            </value>
        </inputAssignments>
        <object>Price_Request__c</object>
    </recordUpdates>
    <screens>
        <name>Create_Contact_Error</name>
        <label>Create Contact Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error_message</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Duplicate_Error_Screen</name>
        <label>Duplicate Error Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Carriers</targetReference>
        </connector>
        <fields>
            <name>duplicate_error_text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Identical price request for season &lt;strong&gt;{!Select_Season}&lt;/strong&gt; already exists and contains prices. Please check the &lt;strong&gt;{!varSelectedCarrier.Name}&lt;/strong&gt; account, or add additional mandatory lanes to the current price request&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>End_Screen</name>
        <label>End Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>end_text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Your price request has been successfully submitted&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Location_Choices</name>
        <label>Location Choices</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Country_Codes</targetReference>
        </connector>
        <fields>
            <name>picklist_choices_header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Select Loading and Delivery Countries&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Location_Choices_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Location_Choices_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Loading_Countries</name>
                    <choiceReferences>choice_nl_location</choiceReferences>
                    <choiceReferences>choice_de_location</choiceReferences>
                    <choiceReferences>choice_it_location</choiceReferences>
                    <choiceReferences>choice_es_location</choiceReferences>
                    <choiceReferences>choice_gb_location</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue></stringValue>
                    </defaultValue>
                    <fieldText>Loading Countries</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Location_Choices_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>chkgrDeliveryCountries</name>
                    <choiceReferences>ccsDeliveryCountries</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Delivery Countries</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Location_Choices_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Location_Choices_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Products_Screen</name>
        <label>No Products Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Location_Choices</targetReference>
        </connector>
        <fields>
            <name>no_products_text</name>
            <fieldText>&lt;p&gt;You selected the following delivery locations: &lt;strong&gt;{!varDeliveryCodes}&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;However, &lt;strong&gt;{!varSelectedCarrier.Name}&lt;/strong&gt; only supports delivery to the following locations: &lt;strong&gt;{!varSelectedCarrier.Destination_Country_Codes__c}&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please select delivery locations that are valid for the current carrier&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Recipient_Information</name>
        <label>Recipient information</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Contact</targetReference>
        </connector>
        <fields>
            <name>dtRecipients</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Price Request Will Be Send To</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <elementReference>f_requiredRecepients</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_All_Carrier_s_Contacts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-9535&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Email&quot;,&quot;guid&quot;:&quot;column-0135&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:1,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;email&quot;},{&quot;apiName&quot;:&quot;MobilePhone&quot;,&quot;guid&quot;:&quot;column-8ecd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Mobile Phone&quot;,&quot;type&quot;:&quot;phone&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varSelectedRecipients</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Add_New_Contact</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Add New Contact</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>new_contact_header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;New Contact will be added to {!varSelectedCarrier.Name} Account&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Add_New_Contact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Recipient_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Recipient_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue></stringValue>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue></stringValue>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Recipient_Information_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Add_New_Contact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenConfirmation</name>
        <label>Confirmation Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>TPQ_New_Price_Request_Action</targetReference>
        </connector>
        <fields>
            <name>confirm_header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Review and Send Price Request&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>sectionCarrier</name>
            <fieldText>Carrier</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>sectionCarrier_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtCarrier</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varSelectedCarrier.Name</elementReference>
                    </defaultValue>
                    <fieldText>Carrier</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>sectionCarrier_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>sectionMandatoryLanes</name>
            <fieldText>Mandatory Lanes</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>sectionMandatoryLanes_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dt_confirm_mandatory_lanes</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Product2</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Mandatory Lanes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>varSelectedMandatoryLanes</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-79ef&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Product Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>sectionTrailerTypes</name>
            <fieldText>Trailer Types</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>sectionTrailerTypes_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>chkgrpTrailerTypesConfirm</name>
                    <choiceReferences>ccsTrailerTypes</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>chkgrpTrailerTypes</elementReference>
                    </defaultValue>
                    <fieldText>Selected Trailer Types</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>sectionAdditionalPrices</name>
            <fieldText>Additional Prices</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>sectionAdditionalPrices_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>chkFuelSurchargePercentageConfirm</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>chkFuelSurchargePercentage</elementReference>
                    </defaultValue>
                    <fieldText>Fuel surcharge percentage</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>chkOvernightChargesConfirm</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>chkOvernightCharges</elementReference>
                    </defaultValue>
                    <fieldText>Overnight charges</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>chkSeasonalSurchargeConfirm</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>chkSeasonalSurcharge</elementReference>
                    </defaultValue>
                    <fieldText>Seasonal surcharge</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>chkWeekendChargesConfirm</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>chkWeekendCharges</elementReference>
                    </defaultValue>
                    <fieldText>Weekend charges</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>sectionAdditionalPrices_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>chkWaitingHoursConfirm</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>chkWaitingHours</elementReference>
                    </defaultValue>
                    <fieldText>Waiting hours</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>chkHarbourDuesConfirm</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>chkHarbourDues</elementReference>
                    </defaultValue>
                    <fieldText>Harbour dues</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>chkETSConfirm</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>chkETS</elementReference>
                    </defaultValue>
                    <fieldText>ETS (type of harbour tax)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>chkDirectFerryConfirm</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>chkDirectFerry</elementReference>
                    </defaultValue>
                    <fieldText>Direct Ferry</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>sectionAdditionalPrices_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>checkPricePerStopConfirm</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>chkAdditionalStops</elementReference>
                    </defaultValue>
                    <fieldText>Price Per Stop</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>chkPalletExchangeConfirm</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>chkPalletExchange</elementReference>
                    </defaultValue>
                    <fieldText>Pallet exchange</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>chkTailLiftConfirm</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>chkTailLift</elementReference>
                    </defaultValue>
                    <fieldText>Tail lift</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>chkPlugInConfirm</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>chkPlugIn</elementReference>
                    </defaultValue>
                    <fieldText>Plug-in</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>sectionAdditionalPrices_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>chkPalletJackConfirm</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>chkPalletJack</elementReference>
                    </defaultValue>
                    <fieldText>Pallet jack</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>chkDangerousGoodsConfirm</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>chkDangerousGoods</elementReference>
                    </defaultValue>
                    <fieldText>Dangerous Goods</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>chkTwoDriversConfirm</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>chkTwoDrivers</elementReference>
                    </defaultValue>
                    <fieldText>Two drivers</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>sectionRecipients</name>
            <fieldText>Recipients</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>sectionRecipients_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>tableRecipients</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Contact</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Recipients</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>varSelectedRecipients</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-7cc8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Email&quot;,&quot;guid&quot;:&quot;column-20e2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;email&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Confirm and Send Price Request</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenRequestAdditionalPrices</name>
        <label>Request Additional Prices</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Request_Additional_Carrier_Information</targetReference>
        </connector>
        <fields>
            <name>requestAdditionalPrices</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Select Additional Prices&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;If you want to request additional price information from a carrier, select the checkboxes&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screenRequestAdditionalPrices_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screenRequestAdditionalPrices_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>chkSelectAllFields</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Select All</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>chkFuelSurchargePercentage</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>chkSelectAllFields</elementReference>
            </defaultValue>
            <fieldText>Fuel surcharge percentage</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <elementReference>chkSelectAllFields</elementReference>
            </isDisabled>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>chkAdditionalStops</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>chkSelectAllFields</elementReference>
            </defaultValue>
            <fieldText>Price Per Stop</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <elementReference>chkSelectAllFields</elementReference>
            </isDisabled>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>chkOvernightCharges</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>chkSelectAllFields</elementReference>
            </defaultValue>
            <fieldText>Overnight charges</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <elementReference>chkSelectAllFields</elementReference>
            </isDisabled>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>chkPalletExchange</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>chkSelectAllFields</elementReference>
            </defaultValue>
            <fieldText>Pallet exchange</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <elementReference>chkSelectAllFields</elementReference>
            </isDisabled>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>chkSeasonalSurcharge</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>chkSelectAllFields</elementReference>
            </defaultValue>
            <fieldText>Seasonal surcharge</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <elementReference>chkSelectAllFields</elementReference>
            </isDisabled>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>chkTailLift</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>chkSelectAllFields</elementReference>
            </defaultValue>
            <fieldText>Tail lift</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <elementReference>chkSelectAllFields</elementReference>
            </isDisabled>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>chkWeekendCharges</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>chkSelectAllFields</elementReference>
            </defaultValue>
            <fieldText>Weekend charges</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <elementReference>chkSelectAllFields</elementReference>
            </isDisabled>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>chkPlugIn</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>chkSelectAllFields</elementReference>
            </defaultValue>
            <fieldText>Plug-in</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <elementReference>chkSelectAllFields</elementReference>
            </isDisabled>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>chkWaitingHours</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>chkSelectAllFields</elementReference>
            </defaultValue>
            <fieldText>Waiting hours</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <elementReference>chkSelectAllFields</elementReference>
            </isDisabled>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>chkPalletJack</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>chkSelectAllFields</elementReference>
            </defaultValue>
            <fieldText>Pallet jack</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <elementReference>chkSelectAllFields</elementReference>
            </isDisabled>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>chkHarbourDues</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>chkSelectAllFields</elementReference>
            </defaultValue>
            <fieldText>Harbour dues</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <elementReference>chkSelectAllFields</elementReference>
            </isDisabled>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>chkDangerousGoods</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>chkSelectAllFields</elementReference>
            </defaultValue>
            <fieldText>Dangerous Goods</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <elementReference>chkSelectAllFields</elementReference>
            </isDisabled>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>chkETS</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>chkSelectAllFields</elementReference>
            </defaultValue>
            <fieldText>ETS (type of harbour tax)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <elementReference>chkSelectAllFields</elementReference>
            </isDisabled>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>chkTwoDrivers</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>chkSelectAllFields</elementReference>
            </defaultValue>
            <fieldText>Two drivers</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <elementReference>chkSelectAllFields</elementReference>
            </isDisabled>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>chkDirectFerry</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>chkSelectAllFields</elementReference>
            </defaultValue>
            <fieldText>Direct Ferry</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <elementReference>chkSelectAllFields</elementReference>
            </isDisabled>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenSeasonAndCarrier</name>
        <label>Select Season and Carrier</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_All_Carrier_s_Contacts</targetReference>
        </connector>
        <fields>
            <name>carriers_header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Select Season and Carrier&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screenSeasonAndCarrier_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screenSeasonAndCarrier_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_Season</name>
                    <choiceReferences>rcsSeasons</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select Season</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>screenSeasonAndCarrier_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>tb_select_carrier</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Carriers</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Carriers</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-cb82&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Carrier Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varSelectedCarrier</assignToReference>
                <name>firstSelectedRow</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Mandatory_Lanes</name>
        <label>Select Mandatory Lanes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>checkSelectAllLanes</targetReference>
        </connector>
        <fields>
            <name>mandatoryLanes_header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Select Mandatory Lanes&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>chkSelectAllLanes</name>
            <dataType>Boolean</dataType>
            <fieldText>Select All Lanes</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>dt_mandatory_products</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Product2</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>varFilteredLanes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-6774&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Product Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Loading_Country_Code__c&quot;,&quot;guid&quot;:&quot;column-e28b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Loading Code&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Loading Country Code&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Destination_Country_Code__c&quot;,&quot;guid&quot;:&quot;column-f868&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Delivery Code&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Destination Country Code&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varSelectedMandatoryLanes</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>chkSelectAllLanes</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dt_mandatory_products_readonly</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Product2</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>varFilteredLanes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-7df2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Product Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Loading_Country_Code__c&quot;,&quot;guid&quot;:&quot;column-9cdd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Loading Code&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Loading Country Code&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Destination_Country_Code__c&quot;,&quot;guid&quot;:&quot;column-71c8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Delivery Code&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Destination Country Code&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>chkSelectAllLanes</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Trailer_Types</name>
        <label>Trailer Types</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Mandatory_Products</targetReference>
        </connector>
        <fields>
            <name>trailer_types_note</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Select Trailer Types&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>chkgrpTrailerTypes</name>
            <choiceReferences>ccsTrailerTypes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Available Trailer Types</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Carriers</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>tt_emailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello,

We hope this message finds you well.

A new price request has been created and requires your input. Please review the request and submit your freight prices at your earliest convenience.

You can access the submission form using the link below:
{!f_PortalUrl}

If you have any questions or experience any issues accessing the portal, please don’t hesitate to contact us.

Thank you for your prompt attention to this request.

Best regards,
The ECL Team</text>
    </textTemplates>
    <textTemplates>
        <name>tt_emailBody_portalCode</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Thank you for being a valued customer!

Here is your access code to log in to our customer portal:
Access Code: {!varSelectedCarrier.Access_code__c}

If you have any questions or need assistance, feel free to reach out to our support team.

Best regards,
The ECL Team</text>
    </textTemplates>
    <transforms>
        <name>Save_recipients_Emails</name>
        <label>Save recipients&apos; Emails</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_through_emails</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>varSelectedRecipients[$EachItem].Email</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>currentItem_Selected_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>formula_Request_Additional_Price_Information_From_Carier</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>formula_Request_Additional_Price_Information_Per_Lane</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>outputVarRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_portalCodeFromMatadataTypes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Recipients_Email_like_String</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCreatedPriceRequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varDeliveryCodes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFilteredLanes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>varLoadingCodes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMandatoryProductIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varPortalURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varSelectedCarrier</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varSelectedMandatoryLanes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>varSelectedRecipients</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varUniqueRequest</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varValidTrailerTypes</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
